.ag-theme-custom {
    /* bright green, 10% opacity */
    --ag-selected-row-background-color: rgb(0, 255, 0, 0.1);
}

.changed-row {
    background-color: lightyellow !important;
}

.highlighted-row {
    color: red !important;
    font-weight: bold;
}

.header-center {
  display: flex;
  justify-content: center;
}

.ag-header-cell-label {
  justify-content: center;  /* Flexbox를 사용해 가운데 정렬 */
}