.ag-theme-custom {
    /* bright green, 10% opacity */
    --ag-selected-row-background-color: rgb(0, 255, 0, 0.1);
}

.changed-row {
    background-color: lightyellow !important;
}

.highlighted-row {
    color: red !important;
    font-weight: bold;
}

.header-center {
  display: flex;
  justify-content: center;
}

.ag-header-cell-label {
  justify-content: center;  /* Flexbox를 사용해 가운데 정렬 */
}

.disabled-checkbox {
  pointer-events: none; /* 체크박스 비활성화 */
}

.row-divide {
  border-bottom: 5px dotted red;
}

.cell-pre-wrap {
  white-space: pre-wrap;
}

.row-span-default {
  background-color: #FCFDFE;
  border-top: 0.3px solid #ECECEC;
  border-bottom: 0.3px solid #ECECEC;
  border-right: 0.3px solid #ECECEC;
}

.cell-verify-fail {
  color: red !important;
}

.cell-verify-success {
  color: blue !important;
}