.custom-select-container {
    position: relative;
  }
  
  .custom-select {
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .custom-options {
    display: none;
  }
  
  .custom-select.active .custom-options {
    position: relative;
    display: block;
  }