@media (max-width: 1767px) {
  .arrow {
    transform: rotate(90deg);
    transition: transform 0.15s ease-in-out;
  }

  .hidden-sibling {
    + ul {
      @apply hidden;
    }
    &.left-sidebar-item {
      .arrow {
        transform: rotate(-90deg) !important;
      }
    }
  }

  .left-sidebar-1 {
    .logo {
      @apply flex flex-row items-center justify-start w-full h-16 pl-4 text-base font-bold tracking-wider uppercase whitespace-nowrap;
      max-width: calc(theme("spacing.1") * 64);
      @apply text-blue-500;
      span {
        @apply block;
      }
    }
  }

  .left-sidebar-item {
    @apply relative flex flex-row items-center justify-start h-10 whitespace-nowrap;
    min-width: calc(theme("spacing.1") * 16);
    max-width: calc(theme("spacing.1") * 64);
    width: calc(theme("spacing.1") * 64);
    > svg {
      width: calc(theme("spacing.1") * 16);
    }
    &.open-sibling {
      @apply text-blue-500;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        @apply bg-blue-500;
      }
    }
    &:after {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 10px;
      @apply bg-blue-500;
    }
    &:hover,
    &.active {
      @apply text-blue-500;
      &:after {
        display: block;
      }
    }
  }

  .l0 {
    > .left-sidebar-item {
      > .title {
        @apply visible opacity-100;
      }
    }
  }

  .left-sidebar-title {
    @apply flex flex-row items-center justify-start w-full h-0 px-4 text-xs font-normal tracking-wider uppercase;
    @apply visible opacity-100;
  }

  ul ul .left-sidebar-item {
    padding-left: calc(theme("spacing.1") * 16);
  }
  ul ul ul .left-sidebar-item {
    padding-left: calc(theme("spacing.1") * 20);
  }
  ul ul ul ul .left-sidebar-item {
    padding-left: calc(theme("spacing.1") * 24);
  }
  ul ul ul ul ul .left-sidebar-item {
    padding-left: calc(theme("spacing.1") * 28);
  }

  .left-sidebar-1 {
    @apply text-sm shadow-lg;
    [data-left-sidebar="light"] & {
      @apply text-gray-900 bg-white border-r border-gray-200;
    }
    [data-left-sidebar="dark"] & {
      @apply text-white border-r;
      background: color(theme("colors.gray.900") tint(5%));
      border-color: color(theme("colors.gray.900") tint(10%));
    }
    .badge {
      @apply hidden !important;
    }
  }
}
